div.results_search {
  height:100px;
}

div.results_container {
  max-width: 900px;
  margin:0px auto;
}

div.results_map {
position: relative;
// position:fixed;
width: 450px;
float: left;
}

div.results_listings {
  width:50%;
  float:right;
}

div.displayListing {
	display: inline-block;
	width: 215px;
	height: 200px;
	background-color: #008AC9;
	margin-left: 10px;
  margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
  vertical-align: bottom;
  -webkit-transition: background-color 0.5s, color 0.5s;
}

div.displayListing:hover {
  background-color: #2B115A;
  color: white;

}

div.listing-container {
    max-width: 900px;
    margin: 0px auto;
		margin-top:100px;
    background-position: center;
		background-repeat:no-repeat;
		position:relative;
}

.results_search_form {
  display: flex;
  align-content:center;
}

input.results_search_field {
	display:inline-block;
  margin: 10px 20px;
  margin-top: 5px;
  min-width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

label.results_search_field {
  text-align: center;
  padding-top: 5px;
}

input.results_search_submit {
	display: block;
	margin: auto;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	background-color: white;
	-webkit-transition: background-color 0.25s, color 0.25s;
  font-size: 18px;
}

input.results_search_submit:hover {
	background-color: #F11A22;
	color:white;
}
