div.listing-container {
    max-width: 900px;
    margin: 0px auto;
    background-position: center;
		background-repeat:no-repeat;
		position:relative;
}


div.listing-title {
	font-size: 32px;
	position:absolute;
	bottom:10px;
	left:10px;
}

form.reservation-form {
	display:inline-block;
	width: 300px;
	height: 200px;
	background: lightgray;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
}

.listing-information {
  width:900px;
  margin: 0px auto;
  padding-top:10px;
}

.host-information {
  width: 600px;
  display:inline-block;
}

.host-information h2 {
  padding:10px 0px;
}

form.reservation-form label {
  display: inline-block;
  width: 275px  ;
}

form.reservation-form input {
  display: inline-block;
  font-size:12px;
  width: 150px;
  margin: 5px 0px;
}

form.reservation-form textarea {
  font-size:12px;
  width:275px;
  border: 0px;
  margin: 5px 0px;
}

.show-content {
  width:900px;
  margin: 0px auto;
  position: relative;
}

.vehicle-info {
  width: 600px;
  text-align:center;
}

.comment-container {
  padding: 10px 0px;
}
