@import 'variables';

#reservation-modal {
  position:fixed;
  z-index: 5;
  display:none;
  // display:block;
}

#login-modal {
  position:fixed;
  z-index: 5;
  display:none;
  // display:block;
}

#signup-modal {
  position:fixed;
  z-index: 5;
  display:none;
  // display:block;
}

.modal-background {
  position:fixed;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.5);
  left:0px;
  top:0px;
  text-align:center;
}

.modal-content {
  background-color:white;
  display: block;
    width: 400px;
    height: 400px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 30px;
    text-align: center;
}

.flex-modal {
  display:flex;
  align-content:space-between;;
  justify-content:center;
  flex-direction: column;

}

.modal-content-fit {
  background-color:white;
  display: inline-block;
    padding:30px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    max-height: 85vh;
    overflow-y:scroll;
}

.listing-thumbnail {
  cursor: pointer;
  max-width:100%;
  max-height:100%;
  margin-right:10px;
  float:left;
}

.pending {
  font-size:24px;
  color: rgb(105,20,5);
  background-color: rgb(232,44,12);
}

.confirmed {
  font-size:24px;
  color: rgb(28,105,39);
  background-color: rgb(62,232,86);
}

#new-reservation-modal {
  position:fixed;
  z-index: 5;
  display:none;
}

.reservation-item {
  line-height:normal;
  border-bottom:1px solid black;
  margin: 10px;
  padding: 10px;
}
