#reservation-modal {
  position:fixed;
  z-index: 5;
  display:none;
  // display:block;
}

.modal-background {
  position:fixed;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.5);
  left:0px;
  top:0px;
}

.modal-content {
  background-color:white;
  display: block;
    width: 400px;
    height: 400px;
    margin: 0px auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 10px;
    text-align: center;
}

.listing-thumbnail {
  cursor: pointer;
}

.pending {
  font-size:24px;
  color: rgb(105,20,5);
  background-color: rgb(232,44,12);
}

.confirmed {
  font-size:24px;
  color: rgb(28,105,39);
  background-color: rgb(62,232,86);
}

#new-reservation-modal {
  position:fixed;
  z-index: 5;
  display:none;
}
