div.results_search {
  height:100px;
}

div.results_container {
  max-width: 900px;
  margin:0px auto;
  overflow: hidden;
  background-color:white;
}

div.results_map {
position: relative;
// position:fixed;
width: 40%;
float: right;
}

div.results_listings {
  width:60%;
  float:left;
}

div.displayListing {
	display: inline-block;
	width: calc(100% - 20px);
	height: 150px;
	border-bottom: 1px solid #008AC9;
	margin-left: 10px;
  margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
  vertical-align:text-top;
  -webkit-transition: background-color 0.2s, color 0.2s;
}

.displayListing h2{
  display:inline-block;
}

div.displayListing:hover {
  background-color: #008AC9;
  color: white;

}

div.listing-container {
    max-width: 900px;
    margin: 0px auto;
		margin-top:100px;
    background-position: center;
		background-repeat:no-repeat;
		position:relative;
}

.results_search_form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.results_search_form {
  background-color: #008AC9;
  box-sizing: border-box;
  border-bottom: 2px solid #2B115A;
  vertical-align: middle;
  height: 75px;
}

input.results_search_field {
	display:block;
  margin: 10px auto;
  border-radius: 0px;
  font-size: 16px;
  min-width: 100px;
  height:25px;
  padding-left: 10px;
  border:none;
}


input.results_search_submit {
	font-size: 12px;
	border:none;
	background-color: #F11A22;
	color:white;
  height: 20px;
  min-width: 150px;
	-webkit-transition: background-color 0.25s, color 0.25s;
  margin-right:10px;
}
input.results_search_submit:hover {
	background-color: darken(#F11A22, 10%);
}
