div.results_search {
  height:100px;
}

div.results_container {
  max-width: 900px;
  margin:0px auto;
  overflow: hidden;
  background-color:white;
}

div.results_map {
position: relative;
// position:fixed;
width: 450px;
float: left;
}

div.results_listings {
  width:50%;
  float:right;
}

div.displayListing {
	display: inline-block;
	width: 215px;
	height: 200px;
	background-color: #008AC9;
	margin-left: 10px;
  margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
  vertical-align: bottom;
  -webkit-transition: background-color 0.5s, color 0.5s;
}

div.displayListing:hover {
  background-color: #2B115A;
  color: white;

}

div.listing-container {
    max-width: 900px;
    margin: 0px auto;
		margin-top:100px;
    background-position: center;
		background-repeat:no-repeat;
		position:relative;
}

.results_search_form {
  background-color: white;
  display: flex;
  align-items: center;
  align-content: space-between;
}

form.results_search_form {
  background-color: #008AC9;
  box-sizing: border-box;
  border-bottom: 2px solid #2B115A;
  vertical-align: middle;
}

input.results_search_field {
	display:inline-block;
  margin: 5px 0px;
  border-radius: 0px;
  font-size: 12px;
  min-width: 100px;
}

label.results_search_field {
  text-align: center;
  padding-top: 5px;
  float:left;
}

input.results_search_submit {
	font-size: 12px;
	border:none;
	background-color: #F11A22;
	color:white;
  height: 20px;
  min-width: 150px;
	-webkit-transition: background-color 0.25s, color 0.25s;
  margin-right:10px;
}
input.results_search_submit:hover {
	background-color: darken(#F11A22, 10%);
}
//
// input.results_search_submit {
// 	display: block;
// 	margin: auto;
// 	width: 200px;
// 	height: 30px;
// 	border-radius: 5px;
// 	background-color: white;
// 	-webkit-transition: background-color 0.25s, color 0.25s;
//   font-size: 18px;
// }
//
// input.results_search_submit:hover {
// 	background-color: #F11A22;
// 	color:white;
// }
