@import 'variables';

div.listing-container {
    max-width: 900px;
    margin: 0px auto;
    background-position: center;
		background-repeat:no-repeat;
		position:relative;
}


div.listing-title {
	font-size: 32px;
	position:absolute;
	top:10px;
	left:10px;
  background-color: $primary-darker-0p4;
  color:white;
  padding: 0px 5px;
  font-weight: bold;
}

.trapezoid {
	border-bottom: 25px solid $primary-darkest;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 2px;
	width: 150px;
  -webkit-transform: rotate(-45deg) translateX(-55px);
	   -moz-transform: rotate(-45deg) translateX(-55px);
	     -o-transform: rotate(-45deg) translateX(-55px);
}

.trapezoid-small {
	border-bottom: 10px solid $primary-darkest;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0px;
	width: 295px;
  -webkit-transform: translateX(-50px) translateY(15px) rotate(-45deg);
	   -moz-transform: translateX(-50px) translateY(15px) rotate(-45deg);
	     -o-transform: translateX(-50px) translateY(15px) rotate(-45deg);

}

form.reservation-form {
	display:inline-block;
	width: 300px;
	height: 200px;
	background: $primary-darker-0p4;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
}

.listing-information {
  background-color: white;
  width:900px;
  margin: 0px auto;
  padding-top:10px;
}

.host-information {
  width: 580px;
  display:inline-block;
  padding: 0px 10px;
}

.host-information h2 {
  padding:10px 0px;
}

form.reservation-form label {
  display: inline-block;
  width: 275px  ;
}

form.reservation-form input {
  display: inline-block;
  font-size:12px;
  width: 150px;
  margin: 5px 0px;
}

form.reservation-form textarea {
  font-size:12px;
  width:275px;
  border: 0px;
  margin: 5px 0px;
}

.reservation-submit {
	width: 80px;
	font-size: 12px;
	border:none;
	background-color: #F11A22;
	color:white;
	-webkit-transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}
.reservation-submit:hover {
	background-color: darken(#F11A22, 10%);
}

.comment-submit {
	width: 80px;
	font-size: 12px;
	border:none;
	background-color: #F11A22;
	color:white;
	-webkit-transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}
.comment-submit:hover {
	background-color: darken(#F11A22, 10%);
}

.show-content {
  width:900px;
  margin: 0px auto;
  position: relative;
}

.vehicle-info {
  width: 900px;
  text-align:center;
  background-color:white;
}

.comment-container {
  padding: 10px 10px;
  border: 1px solid lightgray;
  background-color:white;
}

.comment-form {
  background: $primary-darker-0p4;
  padding:0px 10px;
}

.comment-form  h2{
  padding-top:10px;
}

input.input_field.body {
  width:400px;
}

.select-container {
  background-color: white;
  display:inline-flex;
  justify-content: center;
}

table.vehicle-info {
  // margin-bottom: 10px;
}

.input_field {
  border: none;
  margin: 5px;
}

.input_field.dropdown {
  background: white;
}
