

.price_bubble {
    background-color: #008ac9;
    border: 1px;
    color: white;
    width: 50px;
    text-align: center;
    transform: translate(-15px,25px);
    border: 2px solid #2B115A;
}

div.slider_container {
  background-color: #008AC9;
  display:flex;
  justify-content: space-around;
  height:47px;
  border-bottom: 2px solid #2B115A;
}
