$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;


.range-slider-range {
  -webkit-appearance: none;

  border-radius: 0px;
  background: white;
  outline: none;
  padding: 0;
  margin: 0;
  height:24px;
}

.range-slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 0px;
    background: #2B115A;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .range-slider-range:active::-webkit-slider-thumb {
      background: black;
    }
