// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import 'results_page';


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	color: #2B115A;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}


body {
	padding-top: 75px;
	background-color:lightgrey;
}


.material-icons {
	vertical-align: sub;
}

form.session_form{
	margin:0px auto;
	display:flex;
	flex-direction:column;
	align-items: center;
	width: 300px;
	position: relative;
}

div.button_container {
	display:flex;
	justify-content: space-between;
	width:265px;
}

// div.session_form{
// 	display:flex;
// 	justify-content: space-between;
// 	flex-flow: row wrap;
// 	margin-bottom:5px;
// }

.header {
	background: #008AC9;
	display: block;
	width: 100%;
	height: 75px;
	position:fixed;
	top:0px;
	z-index:1;
	box-sizing: border-box;
	border-bottom: 2px solid #2B115A;
}


div.header-span {
	width: 900px;
  display: block;
  position: relative;
  margin: auto;
	height: inherit;
}

img.logo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

div.landingPage {
	min-width: 900px;
	background-image: url("http://res.cloudinary.com/drf8botsi/image/upload/v1474757400/landscape-1444408765-road-trip_y45b2n.jpg");
	background-size: cover;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-position: center top;
	height: calc(100vh - 75px);
	min-height: 500px;
}

div.search_form_container {
	position: relative;
	background-color: rgba(0,138,201,0.8);
	border-radius: 10px;
	width: 400px;
	height: 200px;
	margin: auto;
}

form.search_form {
	width: 315px;
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
}

input.search_field {
	display: block;
  margin: 10px auto;
  width: 300px;
  height: 25px;
	padding-left: 10px;
	font-size:16px;
	border: none;
}

input.input_field {
	border:none;
	// margin: 5px 5px;
	padding: 0px 5px;
	height: 25px;
	font-size: 12px
}

input.search_submit {
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 30px;
	background-color: #F11A22;
	color:white;
	border: none;
	font-size: 16px;
	-webkit-transition: background-color 0.25s, color 0.25s;
}

input.search_submit:hover {
	background-color: darken(#F11A22, 10%);
}

input.session_button {
	width: 80px;
	font-size: 12px;
	border:none;
	background-color: #F11A22;
	color:white;
	-webkit-transition: background-color 0.25s, color 0.25s;
	cursor:pointer;
}
input.session_button:hover {
	background-color: darken(#F11A22, 10%);
}



input.session_field {
	display: block;
  margin: 10px auto;
  width: 250px;
  height: 25px;
	padding-left: 10px;
	font-size:16px;
}

input.guest_button {
	width: 80px;
	margin: 5px 10px;
	font-size: 12px;
	background-color: #F11A22;
	color: white;
	border-radius: 5px;
	border: 0px;
}

input.float_right {
	float:right;

}

div.mapContainer-search {
	display: block;
	width: 360px;
	height: 450px;
}

.hidden {
	display: none;
}


div.user-profile {
	display:inline-block;
	height: inherit;
	position: absolute;
}



div.username {
	display: inline-block;
	height:inherit;
	line-height:75px;
	margin: 0px 10px;
	margin-right: 50px;
}

div.user-profile.hidden {
	display: none;
}

span.title-container {
	font-weight: bold;
	font-size: 48px;
	display:block;
	text-align: center;
	padding-top: 100px;

}
span.subtitle-container {
	display:block;
	text-align: center;
	font-size: 24px;
}

ul.dropdown-content {
	position: absolute;
	background-color: white;
	width: 0px;
	overflow:hidden;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition: width 0.5s, border 0.25s;

}

a.cancel-link {
	float:right;
}

div.reservation-dropdown {
	position: absolute;
	height:inherit;
	line-height: 75px;
	display: inline-block;
	right:0px;
}

li.dropdown-content {
	overflow:hidden;
	line-height: 10px;
	padding: 10px 10px;
	background-color: white;
	box-sizing:border-box;
	border:1px solid #2B115A;

}

.reservation-dropdown:hover .dropdown-content {
	display:block;
	width:150px;
}

.errors-message{
	background-color: #F11A22;
	color: white;
	font-size:12px;
	text-align: center;
	line-height: 12px;
	margin: 5px;
}

.search_field.date {
	width: 150px;
	display:inline-block;
	box-sizing: border-box;
	margin:0px 5px;
}
.date_container {
	width:320px;
	display: block;
	margin: 0px auto;
}
