$primary: rgba( 16,116,164,1);	// Main Primary color */
$primary-lightest: rgba(131,192,221,1);
$primary-lighter: rgba( 63,145,185,1);
$primary-darker: rgba(  5, 80,116,1);
$primary-darkest: rgba(  2, 43, 63,1);
$primary-darker-0p8: rgba(  5, 80,116,0.8);
$primary-darker-0p4: rgba(  5, 80,116,0.4);
